$white: #FFFFFF;
$headerInputBorder: rgba(137, 191, 243, 0.6);
$headerInputPlaceholder: rgba(137, 191, 243, 0.8);
$mainBlue: #89BFF3;
$black: #000000;
$textGray: #a7a6a6;
$deleteBtnRed: #cd0404;
$messageHover: rgba(137, 191, 243, 0.15);
