<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Удаление сообщения</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>
    <strong>Вы уверены, что хотите удалить сообщение?</strong>
  </p>
  <p>
    Данные будут удалены.
    <span class="text-danger">Данное действие не обратимо</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Отмена</button>
  <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Удалить</button>
</div>
